body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  //background-color: $base-back-color;
}

.segment-without-border {
  border-bottom: none !important;
}